<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <!--<appSettings>
    <add key="CNDB" value="server=localhost;database=sndb;uid=root;pwd=root;port=3306"/>
  </appSettings>-->
</configuration>